
.spanClass {
    background-color: yellow;
}

footer {
/*    display: none;*/
/*    this none will delete the content*/
/*    visibility: hidden*/
/*    this will be invisible but it still takes up the space*/
}

#main {
    border: 2px solid black;
    max-width: 600px;
    margin: 0 auto;
/*    margin will make this block set into center*/
}

/*how the border-width and padding affect an element*/

.simple {
    border: 2px solid green;
    max-width: 500px;
    margin: 20px auto;
    box-sizing: border-box;
}
.fancy {
    border: 2px solid blue;
    max-width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    box-sizing: border-box;
}

.static {
    position: static;
/*    top: 10px;*/
/*    left: 10px;*/
    border: 2px solid black;
/*    margin: 0 auto;*/
/*    max-width: 600px;*/
}

.relative1 {
    position: relative;
}

.relative2{
    position: relative;
    top: 10px;
    left: 20px;
    max-width: 600px;
}
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid orange;
}





.relative {
    border:1px solid black;
    position: relative;
    width: 600px;
    height: 400px;
}

.absolute {
    border: 1px solid pink;
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
    
}
